<p id="notice"><%= notice %></p>
<h2>Welcome to <i class="fa-solid fa-book"></i>Bookers!!</h2>
<p>In <i class="fa-solid fa-book"></i>Bookers,</br>
you can share and exchange your opinions , inpressions , and emotions</br>
about various books!</br>
</p>
<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to "Log in", new_user_session_path, class: "btn-info btn-lg" %></br>
  
  <%= link_to "Sign up", new_user_registration_path, class: "btn-success btn-lg" %>
</div>
